body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #f857a6, #ff5858);
}
form {
    background-color: white;
    height: auto;
    width: 400px;
    Box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;
}

p.tagline {
    margin-top: 6px;
}

p.title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
}
.strike{
    text-decoration: line-through;
}
button.completebtn{
    border-color: #ff1493;
    border-width: 1px;
    border-radius: 7px;
    padding: 5px;
    color: #ff1493;
    margin-right: 15px;
} 
button.addbtn{
background-color: #ff1493;
    width: 370px;
    padding: 15px;
    border-radius: 7px;
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 7px;
    outline: none;
    margin-left: 10px;
}


.filterlist{
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #bbb;
    font-size: 14px;
    border-width: 1px;
    outline: none;
    width: 344px;
    margin-left: 9px;
}
.Itemsadd{
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #bbb;
    font-size: 14px;
    border-width: 1px;
    margin-bottom: 10px;
    outline: none;
    width: 344px;
    margin-left: 9px;
}
button.material-icons{
    position: absolute;
    right:790px;
}
